data/tudu.dtd

<!ELEMENT todo (title?, date?, priority?, category*, text?, scheduled?,todo*)>
<!ATTLIST todo 
	done ( yes | no ) "no"
	collapse ( yes | no ) "no">
<!ELEMENT title (#PCDATA)>
<!ELEMENT deadline (day, month, year)>
	<!ELEMENT day (#PCDATA)>
	<!ELEMENT month (#PCDATA)>
	<!ELEMENT year (#PCDATA)>
<!ELEMENT priority (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT text (#PCDATA)>
<!ELEMENT scheduled (day, month, year,position?)>
	<!ELEMENT position (#PCDATA)>
